<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Burro" version="0.11.4" />
  <package id="Nancy" version="0.9.0" />
  <package id="Nancy.Bootstrappers.Ninject" version="0.9.0" />
  <package id="Nancy.Hosting.Self" version="0.9.0" />
  <package id="Nancy.Viewengines.Razor" version="0.9.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.Extensions.ChildKernel" version="2.2.0.5" />
  <package id="YamlDotNet.Core" version="1.1.14" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.14" />
</packages>